@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Regular.woff2') format('woff2'),
        url('../font/Jost-Regular.woff') format('woff'),
        url('../font/Jost-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Medium.woff2') format('woff2'),
        url('../font/Jost-Medium.woff') format('woff'),
        url('../font/Jost-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-SemiBold.woff2') format('woff2'),
        url('../font/Jost-SemiBold.woff') format('woff'),
        url('../font/Jost-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Bold.woff2') format('woff2'),
        url('../font/Jost-Bold.woff') format('woff'),
        url('../font/Jost-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}